# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# PyInstaller build directories and specs
build/
dist/
*.spec

# Local application databases & secrets
*.db
accounts.json

# IDE config files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
